* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Georgia',sans-serif;
}
.botones{
    padding:50px 1px;
}
.btn{
    background-color:rgb(108, 205, 250);
    font-size: 12;
}
.row{
    background: linear-gradient(rgb(255, 255, 255), #178af5);
    padding: 10px;
}

.row h1{
    text-align: center;
    padding: auto;
    margin: auto;
}
table{
    table-layout: fixed;
    margin: 0 auto;
}
td{
    word-wrap:break-word
}

/* Footer */
.footer {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 5% 1px 1px;
    align-self: flex-end;
  }
  
  footer .row {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 99.6rem;
    margin: 0 auto;
    background:rgb(0, 172, 252);
  }
  
  
  .footer .col a {
    color: rgb(0, 0, 0);
   /* padding: 0.5rem;*/
    padding: 25px 5px 1px;
  }
  
  @media only screen and (max-width: 567px) {
    footer .row {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
  }